* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--branco_padrao);
}

:root {
    --branco_padrao: #c7c3c3;
    font-family: 'Inter', sans-serif;
}

body {
    background: #333;
    padding: 10px;
}

header {
    display: flex;
    border: solid #c7c3c3;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

header a {
    width: 70px;
    height: 70px;
    border-radius: 90px;
    padding: 3px;   
}

header a svg {
    width: 100%;
    height: 100%;
}

header a svg g {
    fill: orangered;
}

main {
    height: 100dvh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex_userbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_data {
   display: flex;
    align-items: center;
    border: solid var(--branco_padrao);
    border-radius: 5px;
    padding: 3px;
    gap: 6px;
    color: var(--branco_padrao);
}

.notifications {
    display: flex;
    align-items: center;
    border: solid var(--branco_padrao);
    border-radius: 5px;
    padding: 3px;
    gap: 6px;
}

.notifications a {
    width: 30px;
    height: 30px;
}

.notifications a svg {
    fill: var(--branco_padrao);
}

.daily_message_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid orangered;
    padding: 5px;
}

.lembretes {
    border: solid var(--branco_padrao);
    padding: 5px;
}

.add_lembrete {
    display: flex;
    gap: 10px;
    align-items: center;
}

.add_lembrete button {
    width: 30px;
    height: 30px;
    padding: 4px;
    background: none;
    border: solid var(--branco_padrao);
    border-radius: 90px;
}

.add_lembrete button svg {
    width: 100%;
    height: 100%;
    fill: var(--branco_padrao);
}
